---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import RecipeHero from "../../components/RecipeHero.astro";
export async function getStaticPaths() {
  let recipeEntries = await getCollection("recipes");
  return recipeEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

let { entry } = Astro.props;
let { Content } = await entry.render();
---

<BaseLayout pageTitle={entry.data.title}>
  <RecipeHero title={entry.data.title} image={entry.data.image} />
  <div class="border-t-2 border-b-2 border-black bg-stone-100 p-6">
    <Content />
  </div>
</BaseLayout>
