---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
let pageTitle = "Recipes Archive";
let recipes = await getCollection("recipes");
---

<BaseLayout pageTitle={pageTitle}>
  <section class="p-4 md:p-8">
    <ul>
      {
        recipes.map((recipe) => (
          <li>
            <a href="">{recipe.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
