---
import BaseLayout from "../layouts/BaseLayout.astro";
let pageTitle = "Recipes";
---

<BaseLayout pageTitle={pageTitle}>
  <li><a href="/recipes/chicken-lettuce-wraps/">Chicken Lettuce Wraps</a></li>
</BaseLayout>
