<header class="bg-blue bg-stone-50 border-b-4 border-black">
  <nav class="mx-auto flex justify-between p-4 lg:px-6">
    <a href="/"
      ><span class="text-xl uppercase font-semibold leading-6 text-sky-800"
        >Recipes by George Rodier</span
      ></a
    >
  </nav>
</header>
