---
import { Picture } from "@astrojs/image/components";

let { image, title } = Astro.props;
---

<section class="py-8 pb-14">
  <div class="mx-auto max-w-5xl">
    <h1
      class="capitalize mx-auto max-w-3xl text-center text-6xl sm:text-8xl font-extrabold text-sky-800 tracking-tighter translate-y-8 text-outline"
    >
      {title}
    </h1>
    <Picture
      class="aspect-square w-3/4 md:w-1/2 block mx-auto border-4 border-black rounded-xl"
      src={image.src}
      widths={[300, 500]}
      aspectRatio="1:1"
      sizes="(max-width: 1024px) 100vw, 512px"
      alt={image.alt}
    />
  </div>
</section>
